doctype html
html
  head
    title Menu
    link(rel="stylesheet" href="/css/index.css")
  body
    main 
      h1(class='mealheader')= meal
      each course in courses
        h2(class='courseheader')= course.course
        table 
          thead 
            tr
              th(class='item') Item
              th(class='description') Description
              th(class='price') Price
          tbody 
            each item in course.items 
              tr
                td(class='item')= item.item
                td(class='description')= item.description
                td(class='price')= item.price
